.App {
    text-align: center;
    background-image: url(./homeImage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}
.First-Main {
    color: black;
}
.First-Main h1 {
    font-size: 300%;
    text-align: right;
    padding-right: 5%;
}

.First-Main p {
    font-size: 200%;
    text-align: right;
    padding-right: 5%;
}

