.register {
    position: relative;
    height: 70vh;
    display: grid;
    padding-right: 80px;
    padding-top: 69px;
    padding-top: 69px;
}

.register__form {
    position: relative;
    background-color: hsla(0, 0%, 10%, 0.1);
    border: 2px solid var(--white-color);
    margin-inline: 1.5rem;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(8px);
}
.register__title {
    padding-top: 21px;
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 2rem;
}
.register__content, .register__box {
    display: grid;
}
.register__content {
    row-gap: 1.75rem;
    margin-bottom: 1.5rem;
}
.register__box {
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: 0.75rem;
    border-bottom: 2px solid var(--white-color);
}
.register__icon, .register__eye {
    font-size: 1.25rem;
}
.register__input {
    width: 100%;
    padding-block: 0.8rem;
    background: none;
    color: var(--white-color);
    position: relative;
    z-index: 1;
}
.register__box-input {
    position: relative;
}
.register__label {
    position: absolute;
    left: 0;
    top: 13px;
    font-weight: var(--font-medium);
    transition: top 0.3s, font-size 0.3s;
}
.register__eye {
    position: absolute;
    right: 0;
    top: 18px;
    z-index: 10;
    cursor: pointer;
}
.register__box:nth-child(2) input {
    padding-right: 1.8rem;
}
.register__check, .register__check-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.register__check {
    margin-bottom: 1.5rem;
}
.register__check-label,  .login__register {
    font-size: var(--small-font-size);
}
.register__check-group {
    column-gap: 0.5rem;
}
.register__check-input {
    width: 16px;
    height: 16px;
}


.register__forgot:hover {
    text-decoration: underline;
}
.register__button {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--white-color);
    font-weight: var(--font-medium);
    cursor: pointer;
    margin-bottom: 2rem;
}
.login__register {
    text-align: center;
}
.login__register a {
    color: var(--white-color);
    font-weight: var(--font-medium);
}
.login__register a:hover {
    text-decoration: underline;
}

/* Input focus move up label */
.register__input:focus + .register__label {
    top: -12px;
    font-size: var(--small-font-size);
}

/* Input focus sticky top label */
.register__input:not(:placeholder-shown).register__input:not(:focus) + .register__label {
    top: -12px;
    font-size: var(--small-font-size);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */

@media screen and (min-width: 576px) {

    .register__form {
        width: 432px;
        height: 494.14px;
        padding: 3rem 3rem 3.5rem;
        border-radius: 1.5rem;
    }
    .register__title {
        font-size: 2rem;
    }
}